<!-- Footer -->
<div class="bg-dark text-center text-white mt-4">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4" id="mediaLinks">
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="img/instagramLogo.png" alt="" ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ashay-sooda-7316031b5/" target="_blank" role="button"
        ><img src="img/linkedinLogo.png"  alt="" ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ashay-sooda-24" target="_blank" role="button"
        ><img src="img/githubLogo.png" alt="" ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="bg-dark">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">HoverOnTech.com</a>
    </div>
    <!-- Copyright -->
  </div>
    
    
        
        
        


    <!-- ----------Footer section----------- -->
    <!-- <footer class="d-flex justify-content-center align-items-center bg-dark" id="myFooter">
      <div class="container-fluid text-center  bg-dark main-font" >
        Copyright &copy; All Right Reserved 2021, Hover On Tech Pvt. Ltd.
      </div>
    </footer> -->

    
    
