<%- include('header'); -%>


<!-- ---Type writer content------ -->
<div class="container-fluid d-flex justify-content-center align-items-center" id="aboutWall" style="height:75vh;">
    <div class="main-font nav-bg-red" id="app1" style="font-size:4rem;"></div>
  </div>

  <div class="container-fluid mt-5">
    <div class="container text-center">
      <h1 class="secodary-font-color"><strong>Technology changing lives</strong></h1>
      <div class="container mt-4 w-50 ternary-font-color">
        <h4>Changing millions of life through the power of technology has been the primary goal of the company. Embeded Systems are used everywhere and embeded sytem with best level integration of the artificial inteligence is what we do!</h4>
      </div>
    </div>

    <div class="container mt-5 d-flex">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center" >
          <div class="card d-flex" style="background-color: transparent; border:none;">
            <div class="card-body text-center " style="">
              <h2 class="secodary-font-color">Advancing tech</h2>
              <h5 class="card-text ternary-font-color">Imagining future with hi-fi techs would be a ficition soon. The advancing lifestyle and higher tech requirements require more efficient embedded systems that have longes life span cost efficient and higher performance. We got all of them at one stop. <strong>UA-224 and UX-2A4d</strong>can perform everything at one go!!</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="card-body" style="height: 100%;">
            <img src="img/about1.jpg" class="card-img-top" alt="..." style="border-radius: 25px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 d-flex">
      <div class="row">
          <div class="col-sm-6">
            <div class="card-body" style="height: 100%;">
              <img src="img/about2.jpg" style="border-radius: 25px;" class="card-img-top" alt="...">
            </div>
            
          </div>
          
          <div class="col-sm-6 d-flex align-items-center" >
            <div class="card d-flex" style="background-color: transparent; border:none;">
              <div class="card-body text-center " style="">
                <h2 class="secodary-font-color">More Reliable, More Efficient</h2>
                <h5 class="card-text ternary-font-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque velit dolorem ullam, blanditiis sint mollitia! Dolores eius laboriosam earum eligendi! Maxime fugiat laudantium ullam temporibus.</h5>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Studetn feedbacks -->
    <div class="container  mt-5 d-flex align-items-center justify-content-center flex-column">
      <h1 class="mb-4">Student Internship Programs</h1>
      <h4 class="mb-4">Having more skilled youths leads way to a greater growth of the world's technology. We Hence provide students with Internships that can boost their knowledge in various fields.</h4>
      <div class="row gy-3 justify-content-center">
        <div class="col-lg-5 col-sm-12 d-flex align-items-center feedbackCard me-lg-5">
          <div class="person me-4">
            <img src="img/person1.jpg" alt="" srcset="">
          </div>
          <div class="person1Desc">
            <h4>Alex Francis</h4> -<em>BE in mechanical engineering</em>
            <hr>
            <p><em>"The skills i gained at such a huge company gave me so much of opportunities that i've been loving what I do. The kind of environment provided would change the view of learning of every student"</em></p>
          </div>
        </div>

        <div class="col-lg-5 col-sm-12 d-flex align-items-center feedbackCard">
          <div class="person me-4">
            <img src="img/person2.jpg" alt="" srcset="">
          </div>
          <div class="person1Desc">
            <h4>Clara D</h4> -<em>Embedded System Engineer at hover On</em>
            <hr>
            <p><em>"The skills i gained at such a huge company gave me so much of opportunities that i've been loving what I do. The kind of environment provided would change the view of learning of every student"</em></p>
          </div>
        </div>
      </div>
    </div>

    <!-- -----Partners------- -->
    <div class="container text-center mt-5">
      <h1 class="mb-4">Our Partners</h1>
      <div class="row" id="partners">
        <div class="col-sm-6 col-lg-3">
          <img src="img/Teslalogo.png" alt="" srcset="" >
        </div>
        <div class="col-sm-6 col-lg-3">
          <img src="img/Lenovologo.png" alt="" srcset="">
        </div>
        <div class="col-sm-6 col-lg-3">
          <img src="img/microsoftlogo.png" alt="" srcset="">
        </div>
        <div class="col-sm-6 col-lg-3">
          <img src="img/samsunglogo.png" alt="" srcset="">
        </div>
        
      </div>
    </div>

    


  </div>

  <%- include('footer'); -%>

  <script src="js/nav.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    
  </body>
</html>