<%- include('header'); -%>

        <!-- -------The image slider------------------>
        <div class="slides-container">
            <div class="pics myfade">
              <img src="img/img1.jpg" alt="" srcset="" />
            </div>
            <div class="pics myfade">
              <img src="img/img2.jpg" alt="" srcset="" />
            </div>
            <div class="pics myfade">
              <img src="img/img3.jpg" alt="" srcset="" />
            </div>
      </div>    
          
          
      <!-- -------Centeral Input box----------     -->
      <div class="container mainBox  d-flex align-items-center justify-content-center" >
        <div class="card text-center h-auto userInputBox main-font">
          <div class="card-body mt-3">
            <h5 class="card-title">Get with Us to reach your goal!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis blandit arcu ac sit mauris, pretium in elementum. Mi</p>
          </div>
          <div class="container d-flex justify-content-center btnContainer" >
            <a href="/signup" class="btn  btn-sm  customBtn">Sign Up</a>
            <a href="/login" class="btn  btn-sm mx-3  customBtn">Login</a>
            <a href="/apply" class="btn  btn-sm  customBtn">Apply</a>
          </div>
  
        </div>
      </div>
  
      <!-- ----------Footer section----------- -->
      <footer class="d-flex justify-content-center align-items-center bg-dark">
        <div class="container-fluid text-center  bg-dark main-font" >
          Copyright &copy; All Right Reserved 2021, Hover On Tech Pvt. Ltd.
        </div>
      </footer>
  
      
      <script src="js/nav.js"></script>
      <script src="js/index.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
  </html>